body {
    margin: 0;
  }
  #c {
    width: 100vw;
    height: 100vh;
    display: block;
  }
  
button {
  text-decoration: none;
  border: none;
  border-radius: 2px;
  background-color: blue;
  color: white;
}